<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, dolore reprehenderit provident exercitationem laboriosam beatae odit modi, eum necessitatibus porro officiis nesciunt impedit molestias totam quisquam temporibus perspiciatis consequatur voluptas adipisci blanditiis fugiat expedita cupiditate! Vitae, dolores veritatis accusamus fuga eveniet possimus vel, minima eum saepe tempora ad maiores quibusdam explicabo cupiditate pariatur beatae tempore consequatur reiciendis quo sapiente voluptatum voluptatibus id, non dolorem. Exercitationem quae quos sint! Voluptatum, atque earum. Quas aliquam quidem animi? Perspiciatis enim facere, sed unde aliquam explicabo? Voluptatum minima maiores labore vitae quia?
</p>
