<% provide(:title, "Contact") %>
<h1>Contacts</h1>
<p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque debitis distinctio, deserunt ea ducimus assumenda explicabo similique officiis doloribus mollitia est adipisci error. Obcaecati recusandae officia numquam similique dolore inventore repellendus quos nesciunt dicta tempore, laborum odit dolores minima amet voluptatibus cumque voluptatum ut fuga, aspernatur beatae cupiditate iusto. Ab?
</p>