<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quo, quis, voluptatem unde cupiditate numquam veniam neque libero recusandae adipisci consectetur veritatis aperiam fugiat tenetur accusantium possimus beatae illo, corrupti doloremque iste! Accusamus tempora nam expedita dignissimos soluta. Eveniet error, quia aliquid architecto fugiat beatae reprehenderit voluptate, nobis ab tenetur dignissimos pariatur quasi iure numquam atque harum hic, unde molestias officia. Nesciunt officiis quas qui, earum quos adipisci nulla perferendis ipsam voluptatibus totam aliquid voluptas nemo amet dignissimos quod incidunt optio, labore sint! Alias dicta itaque assumenda, omnis officia similique!
</p>
