<% provide(:title, "Home") %>
<h1>Hello</h1>
<div>
  <h1>
    Syed Sohail
  </h1>
</div>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem perspiciatis voluptate impedit id fugiat ut animi temporibus facere? Recusandae similique enim unde nihil minus expedita omnis harum alias maiores. Quod quo omnis beatae vero!
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-info" %>
