
<li>
  <%= gravatar_for user, size: 45 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= button_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>