<%provide(:title ,'Sign Up') %>
<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quae doloribus dolore magni accusamus at et nam voluptatem quod, molestiae quam? Eligendi magni tempora accusantium. Suscipit omnis officiis quod veniam nemo. Officia nobis magnam quaerat cumque fuga aliquam consequatur ratione, natus delectus, sed veritatis libero sunt! Nihil eos rem nostrum repudiandae soluta. Similique, ad officiis!
</p>