<footer class="footer navbar navbar-expand-lg navbar-light bg-light">
  <small>
    The <a href="https://www.railstutorial.org/">Ruby on Rails
      Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to 'Contact', contacts_path %></li>
    </ul>
  </nav>
</footer>
